body
{
	background-image:url(Main_BG.jpg);
	margin:0;
	padding:00;
	font-family: sans-serif;
	background-size: cover;
	background-position: center;
	background-color: black;
}

.btn
{
	
	margin-left: 12%;
	margin-top: 6%;
}

button
{
	background-image:url(Main_Btn_BG.jpg);
	background-color: none;
	color : lightyellow ;
	padding: 10px 30px;
	border-radius: 100px;
	font-size: 55px;
	margin:20px 0;
	cursor: pointer;
}